.btn
	position: relative
	display: inline-block
	height: 50px
	border: none
	outline: none
	border-radius: 15px
	background-color: $btn
	text-align: center
	text-transform: uppercase
	font-size: 18px
	color: #fff
	line-height: 50px
	letter-spacing: .2px
	transition: all .6s
	width: 210px

	&:hover,
	&:focus
		outline: none
		border: none
		text-decoration: none
		cursor: pointer
		box-shadow: 0 5px 10px rgba($btn, .4)
		color: #fff

	img
		margin-right: 15px

